*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
    color: white;
}
h1{
    text-align: center;
    color:mediumaquamarine;
}
h2{
    text-align: center;
    color:mediumaquamarine;
    text-transform: uppercase;
    font-size: 30px;

}
.cont{
    background-color: mediumaquamarine;
    column-count: 3;
    column-width: 300px;
    column-rule-style: dotted;
    column-rule-color: gray;
}
#navbar-brand{
    font-size: 30px;
    color: mediumseagreen;
}